@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 10;
  transition: 0.5s; }

/*evita que los margin y lo padding crezcan mas que lo especificado*/
img {
  width: 100%; }

header {
  min-height: 70px;
  background-color: #d9e0d9;
  justify-content: space-between;
  align-items: center;
  width: auto; }
  header .logo {
    display: flex;
    align-items: center; }
  header .logo img {
    height: 40px;
    margin-right: 10%; }
  header a {
    text-decoration: none;
    color: black; }
  header nav a {
    font-weight: 600;
    padding-right: 10px; }
  header nav a:hover {
    color: #5b965b; }

main {
  margin-bottom: 0rem;
  padding: 0px;
  padding-bottom: auto; }
  main div.intermedio {
    font-size: medium;
    margin: 1rem;
    font-family: sans-serif;
    padding: 10px; }
  main p {
    margin: 10px; }
  main .main-tres {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 0px;
    padding-bottom: auto;
    justify-content: center;
    align-items: center; }
  main .main-dos {
    margin-bottom: 10px;
    width: 160px;
    padding: 0px;
    padding-bottom: auto;
    justify-content: center;
    align-items: center; }
  main .grid {
    display: grid;
    background-color: #617a61;
    grid-template-columns: auto auto;
    grid-template-rows: auto; }
  main .integran-img {
    width: 100%;
    background-color: #617a61;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    padding: 0px;
    padding-bottom: auto;
    justify-content: center;
    align-items: center; }
  main .integrante {
    background-color: #617a61;
    width: auto; }
  main iframe {
    width: 70%;
    margin-bottom: 10px;
    padding-bottom: auto;
    padding-left: 30%; }
  main .main-cuatro {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 0px;
    padding-bottom: auto;
    justify-content: center;
    align-items: center; }
  main .histori {
    font-size: larger; }
  main .contact {
    background-image: linear-gradient(to right, #b5c4b5, #1e2320); }
  main .contacto {
    background-image: linear-gradient(to right, #b5c4b5, #2f3731);
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* margin-bottom: 1rem;  */
footer {
  height: auto;
  background-color: black;
  flex-direction: column;
  align-items: center;
  padding: 0px 0%;
  width: auto;
  justify-content: center; }
  footer .footer-menu-container {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  footer .menu-item {
    color: white;
    margin: 1rem 1.5rem; }
  footer .copyright {
    color: white;
    opacity: 0.3; }

.integrante-main {
  margin-bottom: 10px;
  padding: 0px;
  padding-bottom: auto;
  justify-content: center;
  align-items: center; }

@media all and (max-width: 600px) {
  div.integrante,
  div.text {
    grid-column: 1; }
  /*desde aca*/
  .integrante {
    background-color: #3c493b;
    color: black; }
  /*hasta aca, se aplica media query, solo al grid*/
  /*a partir de acá se aplicara media a la pagina de inicio que es el index*/
  body {
    background-color: #414c46; }
  main {
    /*hasta aca aplicado el media query para inicio*/ }
    main main.mai-uno {
      background-color: #414c46; }
    main div.intermedio {
      color: white;
      width: auto;
      margin-right: 10%; }
    main .grid {
      grid-template-rows: 20rem;
      background-color: #2b412b;
      color: white; }
    main .estiloIntegrantes {
      margin: 1%; }
  footer {
    height: auto;
    background-color: black;
    flex-direction: column;
    align-items: center;
    padding: 0px 0%;
    width: auto;
    justify-content: center; }
    footer .footer-menu-container {
      list-style-type: none;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
    footer .menu-item {
      color: white;
      margin: 1rem 1.5rem; }
    footer .copyright {
      color: white;
      opacity: 0.3; } }
