@import"../scss/_colores";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 10;
    transition: 0.5s;



}


@mixin ancho{
    width: 100%;
}

@mixin justify{
    justify-content: center;

}

div.grid-general{
    display: grid;
    grid-template-rows: auto 1fr auto; 
    grid-template-columns: 1fr;
}

/*evita que los margin y lo padding crezcan mas que lo especificado*/

img {
    @include ancho;
}


header {
    min-height: 70px;
    background-color: $color-tres;
    justify-content: space-between;
    align-items: center;
    width: auto;

    .logo {
        display: flex;
        align-items: center;
    }


    .logo img {
        height: 40px;
        margin-right: 10%;
    }

    a {
        text-decoration: none;
        color: $color-negro;
    }

    nav a {
        font-weight: 600;
        padding-right: 10px;
    }

    nav a:hover {
        color: $color-dos;
    }
}


main {
    margin-bottom: 0rem;
    padding: 0px;
    padding-bottom: auto;
    display: flexbox;

    div.intermedio {

        font-size: medium;
        margin: 1rem;
        font-family: sans-serif;
        padding: 10px;
    }

    p {
        margin: 10px;
    }


    .main-tres {
        @include ancho;
        @include justify;
        height: auto;
        margin-bottom: 10px;
        padding: 0px;
        padding-bottom: auto;
        align-items: center;
    }

    .main-dos {
        @include justify;
        margin-bottom: 10px;
        width: 160px;
        padding: 0px;
        padding-bottom: auto;
        align-items: center;
    }

    .grid {
        display: grid;
        background-color: $color-uno;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

    .integran-img {
        @include ancho;
        background-color: $color-uno;
        width: auto;
        height: auto;
        margin-bottom: 10px;
        padding: 0px;
        padding-bottom: auto;
        @include justify;
        align-items: center;
    }


    .integrante {
        background-color: $color-uno;
        width: auto;

    }

    iframe {
        width: 70%;
        margin-bottom: 10px;
        padding-bottom: auto;
        padding-left: 30%;
    }


    .main-cuatro {
        @include ancho;
        height: auto;
        margin-bottom: 10px;
        padding: 0px;
        padding-bottom: auto;
        @include justify;
        align-items: center;
    }


    .histori {
        font-size: larger;
    }


    .contact {
        background-image: linear-gradient(to right, rgb(181, 196, 181), rgb(30, 35, 32));
    }

        .cotact-grid {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;      
        }
    

    .contacto {
        background-image: linear-gradient(to right, rgb(181, 196, 181), rgb(47, 55, 49));
        animation-duration: 3s;
        animation-name: aparecer;
        animation-iteration-count: 2;
    }


    @keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

}

/* margin-bottom: 1rem;  
footer {
    height: auto;
    background-color: $color-negro;
    //flex-direction: column;
    align-items: center;
    padding: 0px 0%;
    width: auto;
    @include justify;
    color: $color-blanco;

}
    .footer-menu-container {
        @extend .foot-uno;
        list-style-type: none;
        font-size: 18px;
        display: flex;
        //align-items: center;
        flex-wrap: wrap;
    }

    .menu-item {
        @extend .foot-uno;
        margin: 1rem 1.5rem;
    }

    .copyright {
        @extend .foot-uno;
        opacity: 0.3;
    }

*/


/* margin-bottom: 1rem;  */
 .foot-uno{
    height: auto;
    background-color: $color-negro;
    align-items: center;
    padding: 0px 0%;
    width: auto;
    @include justify();
    color: $color-blanco;

}

    .footer-menu-container {
        @extend .foot-uno;
        list-style-type: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu-item {
        @extend .foot-uno;
        margin: 1rem 1.5rem;
    }

    .copyright {
        @extend .foot-uno;
        opacity: 0.3;
    }



.integrante-main {
    margin-bottom: 10px;
    padding: 0px;
    padding-bottom: auto;
    @include justify;
    align-items: center;

}


@import"../_medias.scss";